.parallax{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5Jx5bOePwZIB_8WG_ecDBkslqcMiVxkgM9FRYzC7lNVcd2B3X2Lbfo0XJTA&s');

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}