<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam Bem vindos ao meu Blog!!!</h1>
         </div>
    </div>
    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla, porro perspiciatis magnam ex cum hic ipsa ea possimus modi cumque itaque aperiam assumenda veritatis. Quae quas facere saepe neque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolores facere, dignissimos tempore architecto voluptatibus animi consequuntur id, cupiditate eveniet tenetur praesentium hic? Harum necessitatibus modi, quo eaque non quaerat!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque alias nostrum totam deserunt dolores explicabo voluptas, magnam non consectetur enim officiis amet atque, iste veritatis ullam quis natus a tempore!
            </p>
        </div>

    </div>
</div>
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>

        </div>
    </div>

